.blogPart {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
}

.blogPart__help {
  flex: 0.3;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-weight: 300;
  font-size: 18px;
  height: 300px;
  flex-basis: 50vh;
}
.blogPart__help > p {
  color: #5e748a;
}
.blogPart__blog {
  flex: 0.62;
  display: flex;
  flex-direction: row;
  border: 1px solid #c6d1db;
  width: 100%;
  height: 100%;
  flex-basis: 50vh;
}
.blogPart__help_button > button {
  width: 200px;
  height: 60px;
  background: none;
  border: 1px solid #073865;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #14202b;
  font-family: "Josephin 18";
}
.blogPart__help_button > button:hover {
  background: rgb(211, 204, 204);
}
.blogPart__blog_image {
  width: 50%;
  height: 100%;
  display: flex;
  align-content: center;
}
.blogPart__blog_content {
  width: 50%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-content: center;
}
.blogPart__blog_image {
  display: flex;
  align-items: center;
  justify-content: center;
}
.blogPart__blog_image > figure > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  margin-top: 20px;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.blogPart__blog_image > figure {
  width: 80%;
  height: 80%;
  margin-bottom: 10px;
  background: #fff;
  overflow: hidden;
}
.blogPart__blog_image > figure > img:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}
.blogPart__blog_content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  padding-top: 10px;
}
.blogPart__blog_content_text {
  width: 90%;
}
.blogPart__blog_content_text > h2 {
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  color: #5e748a;
}
.blogPart__blog_content > button {
  width: 200px;
  height: 60px;
  background: none;
  border: 1px solid #073865;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #14202b;
  font-family: "Josephin 18";
}
.blogPart__blog_content > button:hover {
  background: rgb(211, 204, 204);
}
